<br>
<h4>Collaborators</h3>
 <div class="media">
   <div class="media-body">
    <table>   
        <tr valign="bottom" align="left">
            <th> <font size="3"><%= collaborator.emailid %></font>&nbsp;&nbsp;</th>
            <th> &nbsp;<%= link_to "Delete", [@wiki, collaborator], method: :delete, :style=>'color:red' %></th>
        </tr>
    </table>
   </div>
 </div>