

  
        <tr valign="bottom">
            <td align="left"> <font size="3"><%= collaborator.emailid %></font></td>
            <td align="middle"><%= link_to "Delete", [@wiki, collaborator], method: :delete, :style=>'color:red' %></td>
        </tr>

