 <h4>Add a Collaborator</h4>
 <!-- #17 -->
 <%= form_for [wiki, collaborator] do |f| %>
   <div class="form-group">
 <!-- #18 -->
     <%= f.label :emailid, class: 'sr-only' %>
     <%= f.text_field :emailid, class: 'form-control', placeholder: "Enter a new collaborator by email address" %>
   </div>
   <%= f.submit "Submit Collaborator", class: 'btn btn-default pull-right' %>
 <% end %>