
<h4>Add a Collaborator</h4>
 <%= form_for [wiki, collaborator] do |f| %>
   <div class="form-group">
    <div>
      
        <div class="form-group">
         <%= f.label :emailid, class: 'sr-only' %>
         <%= f.text_field :emailid, class: 'form-control', placeholder: "Enter email address", :required => 'required' %>
        </div>
        <div class="form-group">
         <%= f.submit "Submit Collaborator", class: 'btn btn-info pull-left' %>
        </div>
    </div>
    </div>
 <% end %>