 <h2>Collaborator Wikis</h2>

  <% collaborators.where(emailid: current_user.email).each do |collaborator| %>

         <%= collaborator.wiki_id %> <p></p>
         <%= link_to markdown(collaborator.wiki.title), wiki_path(collaborator.wiki_id) %>

 <% end %>
 