<div  style="margin: 15px auto; text-align: center; padding-right: 20.5%" class="bgimg">
<% if user_signed_in? %>



    <span class="pedia-heading">Wikit: Social, Markdown Wikis</span>

    <div id="signup-box2" style="margin:15px auto; padding: 15px">
        <span style="font-size: 19px;"><font color="blue">Create and share Markdown Wikis</font></span>
        <span class="space-span" style="font-size: 1.25em">Peruse content, edit it, or create your own! Whether you are learning or sharing, if you who, what, when, where, why, wikit it!</span> 
    </div>

<% else %> 

<div class="row">

   
    <div class="col-md-12">
        <span class="pedia-heading">Wikit: Social, Markdown Wikis</span>
    <div id="signup-box" style="margin:15px auto; padding: 15px">
        <span id="pedia-title"><font color="blue">If you want to share it, wikit it!</font><br>Sign up now to begin creating public wikis, and view plan options to <b>create private wikis!</b></span>
        <span class="space-span"><%= link_to "Sign Up", new_user_registration_path, class: 'home-font btn btn-default btn-lg home-su' %></span>
    </div>
    </div>
    </div>
    

      


<% end %>

</div>
