
<% if !user_signed_in? %> 
    <div class="row">
        <div class="col-md-4 col-sm-6 signin-top" style="margin-bottom: 15px">
            <a name="signin"></a>
            <div class="center-div">  
                <%= render "devise/sessions/form" %>
            </div>
        </div>
        <div class="col-md-8 col-sm-6">
            <div class="col-md-6">   
                <div class="panel panel-primary plan-panel" style="min-height:198px">
                    <div class="panel-heading">Standard Plan</div>
                    <div class="panel-body">
                        <p><i class="fa fa-check" aria-hidden="true" style="color:blue"></i><font size="3em">Create public Wikis</font></p>
                        <p><i class="fa fa-check" aria-hidden="true" style="color:blue"></i>Free plan with account sign up</p>
                        <p><i class="fa fa-check" aria-hidden="true" style="color:blue"></i>Upgrade at any time!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">  
                <div class="panel panel-primary plan-panel">
                    <div class="panel-heading">Premium Plan</div>
                    <div class="panel-body">
                        <p><i class="fa fa-check" aria-hidden="true"></i><font size="3em"><b>Create private wikis</b></font></p>
                        <p><i class="fa fa-check" aria-hidden="true"></i>Add collaborators to private wikis</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i>Downgrade your plan at any time</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i>$15 / year subscription</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="panel panel-default plan-panel info-panel" style="border: 1px solid #a080ad;">
                        <div class="panel-heading">About Wikit: Social, Markdown Wikis</span></div>
                        <div class="panel-body">
                            <span style="font-size: 1.1em">
                            <p>Peruse content, edit it, or create your own! Whether you are learning or sharing, if you who, what, when, where, why, then Wikit (wiki it)! 
                            </p>
                            <p class="text-left">
                                <ul align="left">
                                    <li>
                                        New to Markdown? Check out the <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown Cheatsheet</a> to help you get the most out of creating or editing wikis. 
                                    </li>
                                </ul>
                            </p>
                            </span> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 signin-bot">
            <a name="signin"></a>
            <div class="center-div">  
                <%= render "devise/sessions/form" %>
            </div>
        </div>

    </div>
<% end %>