/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

.wrapper {
    min-height: 75vh;
    margin: 0 auto; 
}

.ast-md {
  margin-right:0px !important;
  margin-left: 0px !important;
}

.home-font {
	font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
}

.row {
	margin-top: 15px;
	margin-bottom: 15px;
}

.plan {
	width: 85px;
}

.space-span {
	margin-top: 15px;
	display: block;
}

.wrap {
	word-break: break-all;
	word-wrap: break-word;
	/* IE */
	overflow-wrap: break-word;
}

.plan-panel {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.plan-panel .panel-heading, background {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.plan-panel .panel-body table {
  font-size: inherit;
}

.info-panel div.panel-heading {
  background-color: #a98cb5 !important; 
  border-bottom: 1px solid #a080ad;
  color:#fff; 
  font-variant: small-caps;
  display: block;
  font-size: 1.17em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.center-div {
  display: table;
  margin: auto;
}

.auth-form {
  border-top: 0 !important;
  border-right: 0 !important; 
  border-left: 0 !important;
}

div .panel-heading {
  display: block;
  font-size: 1.17em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
}

.auth-form-for .fa {
  padding-right: 15px !important;
}

.auth-form-for .fa-lock {
  font-size: 1.5em;
  color: grey;
}

.mid-list-item {
	border-bottom: 0 !important;
}

.list-group-item {
	padding: 10px 0 10px 0 !important;
}

.nav-side-menu i .fa {
	padding-left: 5px !important;
	padding-right: 5px !important; 
}

.nav-side-menu {
  overflow: auto;
  top: 0px;
}

.nav-side-menu .brand {
  display: none;
}

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nav-side-menu li a {
  text-decoration: none;
  display:block;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.nav-side-menu li:hover {
  background-color: #f6f6f6;
}

#tab-btns td {
  width: 50%;
  .fa {
    padding-right: 10px;
  }
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  #tab-btns {
    display: block;
  }
  #shared-links {
    display: block !important;
  }
}

@media (min-width: 768px) {
  #tab-btns {
    display: none;
  }
  #signin-h {
    margin-top:0;
  }
}

@media (max-width: 768px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    text-align: center;
    padding-top:3px;
    padding-bottom:2px;
    border: 1px solid #80668a;
    border-radius: 5px;
    margin-top:4px;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    display: block !important;
    padding-bottom:5px;
    padding-top:1px;
    margin-bottom: 15px;
    background-color: #ece5ee;
    border:1px solid #cfbfd6;
  }
  .navbar-top {
    display: none;
  }
  .navbar-bottom {
    margin-right:15px;
    margin-left:15px;
  }
  .signin-bot {
    display:none;
  }
}

@media (min-width: 769px) {
  .nav-side-menu {
    min-height: 275px;
  }
  .nav-side-menu li {
    max-width: 175px;
  }
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  .signin-top {
    display:none;
  }
}

.nav-logo {
  color:#604c67; 
  font-variant: small-caps; 
  letter-spacing: 1.5px;
  margin-top:0 !important; 
  margin-bottom:0 !important;
  vertical-align: middle;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
    background-color: #ece5ee;
    color: #80668a;
    border:1px solid #cfbfd6;
}

.scroll-top .btn:focus, .btn:active {
    outline: 0;
    background-color: #80668a !important;
    color: #ece5ee !important;
    border:1px solid #715b7a !important;
}



