/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

.ast-md {
  margin-right:0px !important;
  margin-left: 0px !important;
}

.home-font {
	font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
}

.row {
	margin-top: 15px;
	margin-bottom: 15px;
}

.plan {
	width: 85px;
}

.space-span {
	margin-top: 15px;
	display: block;
}

.wrap {
	word-break: break-all;
	word-wrap: break-word;
	/* IE */
	overflow-wrap: break-word;
}

.plan-panel {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.plan-panel .panel-heading, background {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.plan-panel .panel-body table {
  font-size: inherit;
}

.info-panel div.panel-heading {
  background-color: #a98cb5 !important; 
  border-bottom: 1px solid #a080ad;
  color:#fff; 
  font-variant: small-caps;
  display: block;
  font-size: 1.17em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.center-div {
  display: table;
  margin: auto;
}

.auth-form {
  	border-top: 0 !important;
  	border-right: 0 !important; 
  	border-left: 0 !important;
}

div .panel-heading {
    display: block;
    font-size: 1.17em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
}

.auth-form-for .fa {
	padding-right: 15px !important;
}

.auth-form-for .fa-lock {
  font-size: 1.5em;
  color: grey;
}

.mid-list-item {
	border-bottom: 0 !important;
}

.list-group-item {
	padding: 10px 0 10px 0 !important;
}

.nav-side-menu i .fa {
	padding-left: 5px !important;
	padding-right: 5px !important; 
}

.nav-side-menu {
  overflow: auto;
  top: 0px;
}
.nav-side-menu .brand {
  display: block;
  text-align: center;
  display: none;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nav-side-menu li a {
  text-decoration: none;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.nav-side-menu li:hover {
  background-color: #f6f6f6;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
.nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ece5ee;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
    display: block !important;
    padding-bottom:5px;
    padding-top:1px;
    margin-bottom: 15px;
    background-color: #ece5ee;
  }
  
  .navbar {
    display: none;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

@media (min-width: 768px) {
  .nav-side-menu {
    min-height: 275;
  }
  .nav-side-menu li {
    max-width: 175px;
  }
}

.nav-logo {
  color:#604c67; 
  font-variant: small-caps; 
  letter-spacing: 1.5px;
  margin-top:0 !important; 
  margin-bottom:0 !important;
  vertical-align: middle;
}
