// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-circular {
	display: block;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 100px;
}

@media screen and (max-width: 768px) {
    .img-circular {
        padding-bottom: 40px;
    }
}
