<% if user_signed_in? %>
   <% if current_user.role == 'premium' %>
      <div class="row">
         <div class="col-md-4">
            <font size="5">My Plan</font>
            <p></p>
            <div class="panel panel-primary plan-panel">
               <div class="panel-heading">Premium Plan</div>
               <div class="panel-body">
                  <p><i class="fa fa-check" aria-hidden="true"></i><font size="3em"><b>Create private wikis</b></font></p>
                  <p><i class="fa fa-check" aria-hidden="true"></i>Add collaborators to private wikis</p>
                  <p><i class="fa fa-check" aria-hidden="true"></i>Downgrade your plan at any time</p>
                  <p><i class="fa fa-check" aria-hidden="true"></i>$15 / year subscription</p>
                  <p><table>
                        <tr>
                           <td valign="top">
                              <i class="fa fa-asterisk" aria-hidden="true"></i>
                           </td>
                           <td valign="top">
                              Any wikis that you initially created as public cannot be changed to private
                           </td>
                        </tr>
                     </table>
                  </p>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="acct-opts" style="background-color: #fff !important">
               <div class="header inner"><font color="crimson">Downgrade Warning</font></div>
               <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Any private wikis you currently <span style="margin-left:30px">have will be made public</span></p>
               <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>It is recommended that you <span style="margin-left:30px">review any private wikis prior to</span> <span style="margin-left:30px">downgrading your plan</span></p>
               <div class="inner" style="padding-top: 5px; padding-bottom: 18px"><span class="space-span"><%= link_to "Downgrade", destroy_charge_path, method: :delete, class: 'home-font btn btn-danger', :data => {:confirm => "Are you sure you want to downgrade? This will make your private wikis public"} %></span></div>
            </div>
         </div>
         <div class="col-md-4">
            <font size="5">Downgrade</font>
            <p></p>
            <div class="panel panel-primary plan-panel" style="min-height:198px;">
               <div class="panel-heading">Standard Plan</div>
               <div class="panel-body">
                  <p><i class="fa fa-check" aria-hidden="true" style="color:blue"></i><font size="3em">Create public Wikis</font></p>
                  <p><i class="fa fa-check" aria-hidden="true" style="color:blue"></i>Free plan with account sign up</p>
                  <p><i class="fa fa-check" aria-hidden="true" style="color:blue"></i>Upgrade at any time!</p>
               </div>
            </div>
         </div>
      </div>
   <% elsif current_user.role == 'admin' %>
      <h3 style="color: red">You are signed in as an Admin</h3>
      <p>As an Admin, you can access and edit all public and private Wikis.</p>
   <% else %>
      <div class="row">
         <div class="col-md-4">
            <font size="5">My Plan</font>
            <p></p>
            <div class="panel panel-primary plan-panel" style="min-height:198px">
               <div class="panel-heading">Standard Plan</div>
               <div class="panel-body">
                  <p><i class="fa fa-check" aria-hidden="true" style="color:blue"></i><font size="3em">Create public Wikis</font></p>
                  <p><i class="fa fa-check" aria-hidden="true" style="color:blue"></i>Free plan with account sign up</p>
                  <p><i class="fa fa-check" aria-hidden="true" style="color:blue"></i>Upgrade at any time!</p>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <font size="5">Upgrade</font>
            <p></p>
            <div class="panel panel-primary plan-panel">
               <div class="panel-heading">Premium Plan</div>
               <div class="panel-body">
                  <p><i class="fa fa-check" aria-hidden="true"></i><font size="3em"><b>Create private wikis</b></font></p>
                  <p><i class="fa fa-check" aria-hidden="true"></i>Add collaborators to private wikis</p>
                  <p><i class="fa fa-check" aria-hidden="true"></i>Downgrade your plan at any time</p>
                  <p><i class="fa fa-check" aria-hidden="true"></i>$15 / year subscription</p>
                  <p><table>
                        <tr>
                           <td valign="top">
                              <i class="fa fa-asterisk" aria-hidden="true"></i>
                           </td>
                           <td valign="top">
                              Any wikis that you initially created as public cannot be changed to private
                           </td>
                        </tr>
                     </table>
                  </p>
                  <div class="inner" style="padding-top: 10px;"><%= link_to "<span style='font-weight: bold; font-variant: small-caps; font-size: 16; letter-spacing:.75px; background-color:MistyRose' class='btn btn-default'>Upgrade Here!</span>".html_safe, new_charge_path %>
               </div>
               </div>
            </div>
         </div>
      </div>
   <% end %>
<% else %>
   <div class="panel panel-primary plan-panel" style="min-height:198px">
      <div class="panel-heading">Standard Plan</div>
      <div class="panel-body">
         <p><i class="fa fa-check" aria-hidden="true" style="color:blue"></i><font size="3em">Create public Wikis</font></p>
         <p><i class="fa fa-check" aria-hidden="true" style="color:blue"></i>Free plan with account sign up</p>
         <p><i class="fa fa-check" aria-hidden="true" style="color:blue"></i>Upgrade at any time!</p>
      </div>
   </div>
   <p>&nbsp;</p>
   <div class="panel panel-primary plan-panel">
      <div class="panel-heading">Premium Plan</div>
      <div class="panel-body">
         <p><i class="fa fa-check" aria-hidden="true"></i><font size="3em"><b>Create private wikis</b></font></p>
         <p><i class="fa fa-check" aria-hidden="true"></i>Add collaborators to private wikis</p>
         <p><i class="fa fa-check" aria-hidden="true"></i>Downgrade your plan at any time</p>
         <p><i class="fa fa-check" aria-hidden="true"></i>$15 / year subscription</p>
         <p><table>
               <tr>
                  <td valign="top">
                     <i class="fa fa-asterisk" aria-hidden="true"></i>
                  </td>
                  <td valign="top">
                     Any wikis that you initially created as public cannot be changed to private
                  </td>
               </tr>
            </table>
         </p>
         <div class="inner" style="padding-top: 10px;"><%= link_to "<span style='font-weight: bold; font-variant: small-caps; font-size: 16; letter-spacing:.75px; background-color:MistyRose' class='btn btn-default'>Upgrade Here!</span>".html_safe, new_charge_path %>
         </div>
      </div>
   </div>
<% end %>
